p {
   color: #9966CC;
   font-size: 200%;
}

p.signature {
   font-style: italic;
}

p.cardbody {
   font-size: 150%
}

h1 {
   color: #CC0033;
   font-size: 300%;
   font-weight: bold;
   text-shadow: 2px 2px #330033;
}

div {
   margin-top: 15px;

}
 
#lefthearts {
   width: 25%;
   float: left;
}

#righthearts {
   width: 25%;
   float: right;
}

#card {
   border: 5px solid #CC0033;
   background-color: #99CCFF;
   text-shadow: 1px 1px #330033;
   text-align: center;
   float: left;
   width: 45%;
   padding: 5px;
}
